// В этом файле должны быть стили для БЭМ-блока catalog-menu, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.catalog-menu {

  $block-name:                &; // #{$block-name}__element
  z-index: 1;
  display: flex;
  justify-content: center;

  @media (min-width: $menu-desktop-width) {

    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.9;
    box-shadow: 0 2px 7px 1px hsla(0, 0%, 0%, 0.48);
    background-image: linear-gradient(to right, hsl(256, 54%, 47%), hsl(255, 98%, 58%) 46%, hsl(275, 53%, 57%));

    &--sticky {
      position: fixed;
      top: 0;
      left: 0;
      bottom: auto;
      opacity: 1;
      z-index: 10;
      height: 46px;
      animation: slideInDown 1s 1 ease-in-out;

      .logo,
      .page-basket {
        display: block;

        @media (max-width: ($menu-desktop-width - 1)) {
          display: none;
        }
      }

      #{$block-name}__inner {
        display: flex;
        align-items: center;
        max-width: 1200px;
      }

      #{$block-name}__list {
        margin: 0 30px;
      }

      #{$block-name}__link {
        padding: 1.1em;
      }

      #{$block-name}__icon {
        display: none;
      }
    }

  }

  .logo {
    display: none;
  }

  .page-basket {
    display: none;
    padding-right: 0;
    height: auto;
    position: static;
    width: auto;
    background: none;

    &__inner {
      position: static;
      transform: none;
      padding: 5px 15px;
      margin-bottom: 4px;
    }

    &__cost {
      color: #fff;
    }
  }

  &__inner {
    width: 100%;

    @media (min-width: $screen-lg) {
      max-width: 700px;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
  }

  &__item {
    flex-grow: 1;
    text-align: center;

    &--active {

      #{$block-name}__link {

        &:before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0.3;
          mix-blend-mode: multiply;
          background-color: hsl(0, 100%, 50%);
          transition: all $transition-time;
        }

        @media (max-width: ($menu-desktop-width - 1)) {
          background-color: hsl(272, 99%, 54%);
        }
      }
    }
  }

  &__link {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 0.8em 1.1em 1.1em 1.1em;

    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      mix-blend-mode: multiply;
      background-color: hsl(0, 100%, 50%);
      transition: all $transition-time;
    }

    &:hover,
    &:focus {
      &:before {
        opacity: 0.3;
      }
    }

    @media (max-width: ($menu-desktop-width - 1)) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: hsl(272, 65%, 28%);

      &::before {
        display: none;
      }

      &:hover,
      &:focus {
        background-color: hsl(272, 99%, 54%);
      }
    }
  }

  &__icon {

    @media (min-width: $menu-desktop-width) {
      position: relative;
      z-index: 1;
      display: block;
      margin: auto;
    }
  }

  &__name {
    position: relative;
    z-index: 1;
    font-family: 'Futura PT';
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: #fff;
    text-align: center;
  }

  &__toggler {
    background-color: hsl(272, 99%, 54%);
    border:none;
    color: #fff;
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'Futura PT';
    letter-spacing: 1.17px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    flex-grow: 1;
    cursor: pointer;

    span {

      svg {
        vertical-align: middle;
        margin-right: 8px;
      }
    }

    &:focus {
      outline: none;
    }

    @media (min-width: $menu-desktop-width) {
      display: none;
    }
  }

  @media (max-width: ($menu-desktop-width - 1)) {

    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    background: #fff;
    z-index: 100;
    display: none;

    #{$block-name}__list {
      flex-direction: column;
    }

    &--open {
      display: block !important;
    }
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
