// В этом файле должны быть стили для БЭМ-блока catalog-menu, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.catalog-menu {

  $block-name:                &; // #{$block-name}__element
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.9;
  box-shadow: 0 2px 7px 1px hsla(0, 0%, 0%, 0.48);
  background-image: linear-gradient(to right, hsl(256, 54%, 47%), hsl(255, 98%, 58%) 46%, hsl(275, 53%, 57%));

  &__list {
    @include container;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  &__item {
    flex-grow: 1;
    text-align: center;

    &--active {

      #{$block-name}__link {
        &:before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0.3;
          mix-blend-mode: multiply;
          background-color: hsl(0, 100%, 50%);
          transition: all $transition-time;
        }
      }
    }
  }

  &__link {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 0.8em 1.1em 1.1em 1.1em;

    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      mix-blend-mode: multiply;
      background-color: hsl(0, 100%, 50%);
      transition: all $transition-time;
    }

    &:hover,
    &:focus {
      &:before {
        opacity: 0.3;
      }
    }
  }

  &__icon {
    position: relative;
    z-index: 1;
    display: block;
    margin: auto;
  }

  &__name {
    position: relative;
    z-index: 1;
    font-family: 'Futura PT';
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: -0.28px;
    color: #fff;
    text-align: center;
  }
}
