// В этом файле должны быть стили для БЭМ-блока social, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$color-fb: #ccc;


.social {

  $block-name:                &; // #{$block-name}__

  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;

  &__link-wrap {
    display: inline-block;

    &:not(:first-child) {
      margin-left: 14px;
    }
  }

  &__link {
    display: block;

    // #{$block-name}__link-wrap--fb & {
    //   background-color: $color-fb;
    // }

    // #{$block-name}__link-wrap--vk & {
    //   background-color: $color-vk;
    // }

    // #{$block-name}__link-wrap--tw & {
    //   background-color: $color-tw;
    // }

    // #{$block-name}__link-wrap--gh & {
    //   background-color: $color-gh;
    // }

    svg {
      display: block;
      width: 26px;
      height: 26px;
      fill: hsl(0, 0%, 11%);
    }

    &:hover,
    &:focus  {
      opacity: 0.7;
    }
  }

  &__text {
    display: none;
  }
}
