// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  background: $gray-darkest;

  position: relative;

  &__inner {
    @include container;
    display: flex;
    padding-right: 280px;
    position: relative;

    .page-basket {
      position: absolute;
      z-index: 3;
      right: 0;
      top: -18px;
    }
  }

  &__cont {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__cont-top {
    display: flex;
    justify-content: flex-end;

    .page-info-line {
      flex-grow: 1;
      text-align: center;
      color: #fff;
      font-size: 11px;
      font-family: 'Futura PT';
      font-weight: 700;
      letter-spacing: 0.54px;
    }

    .page-wt--header {
      margin-top: 15px;
    }
  }

  &__cont-bottom {
    margin-top: -20px;
    display: flex;
    align-items: center;

    .logo {
      margin-right: 40px;
    }

    .main-nav--header {
      margin-left: auto;
      margin-top: 15px;
    }
  }

  &__slider {

    .slider-item {
      height: 407px;
      background-size: cover;
      background-position: center center;
    }
  }
}
