// В этом файле должны быть стили для БЭМ-блока page-wt, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-wt {

  $block-name:                &; // #{$block-name}__element

  color: #fff;
  font-size: 11px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  letter-spacing: 0.54px;

  span {
    font-weight: 500;
    margin-right: 4px;
  }

  &--header {
    margin-bottom: 10px;
  }
}
