// В этом файле должны быть стили для БЭМ-блока basket, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.basket-heading {
  display: flex;
  align-items: center;

  .close {
    margin-left: auto;
    margin-right: 10px;

    >span {
      &:before,
      &:after {
        background: #64367e;
      }
    }
  }
}

.basket {

  $block-name:                &; // #{$block-name}__element

  &__el {
    display: flex;
    padding: 15px 10px;
    border-bottom: 1px solid $gray-lighter;
  }

  &__el-info {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-right: 20px;

    @media (max-width: ($menu-desktop-width - 1)) {
      flex-wrap: wrap;
    }
  }

  &__el-change {
    display: flex;
    align-items: center;
  }

  &__img {
    width: 50px;
    height: 50px;
    background-size: cover;
    margin-right: 20px;
    flex-shrink: 0;
  }

  &__name {
    margin-right: auto;
  }

  &__name-text {
    font-family: 'Futura PT';
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.58px;
    text-transform: uppercase;
  }

  &__price-per-item {
    font-size: 18px;
    letter-spacing: 0.75px;
    color: hsl(0, 0%, 59%);
    margin-right: 40px;

    @media (max-width: ($menu-desktop-width - 1)) {
      display: none;
    }
  }

  .field-num--basket {
    @media (max-width: ($menu-desktop-width - 1)) {
      margin-left: auto;
      margin-right: 20px;
    }
  }

  &__price {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.84px;
    color: #000;
    margin-right: 6px;
  }
}

.basket-footer {
  padding-left: 15px;
  padding-right: 10px;

  @media (min-width: $screen-md) {
    padding-left: 85px;
  }
}

.basket-delivery {
  display: flex;
  font-family: 'Futura PT';
  font-size: 11px;
  letter-spacing: 0.54px;
  padding: 10px 0;
  margin-right: 25px;

  &__text {
    margin-right: auto;
  }
}

.basket-total {
  display: flex;
  color: #000;
  padding-top: 10px;
  padding-bottom: 50px;

  &__text {
    margin-right: auto;
    font-family: 'Futura PT';
    font-size: 19px;
    letter-spacing: 0.93px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__price {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1.17px;
  }

  .close {
    margin-left: 10px;
    align-self: center;
  }
}

.basket-get {
  text-align: center;

  @media (min-width: $screen-md) {
    text-align: right;
  }

  .btn {
    margin-bottom: 20px;
  }

  .btn + .btn {
    margin-left: 20px;
  }
}
