// В этом файле должны быть стили для БЭМ-блока main, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main {

  $block-name:                &; // #{$block-name}__element


  @media (min-width: $screen-xl) {
    background: svg-load('../blocks/main/img_to_bg/body-figure-01.svg') no-repeat,
    svg-load('../blocks/main/img_to_bg/body-figure-02.svg') no-repeat;
    background-position: left 60px top 60px, right bottom;
  }

  &__inner {
    padding-top: 10px;
    padding-bottom: 80px;
    @include container;
  }

  &__heading {
    font-family: 'Intro';
    font-weight: 900;
    font-style: normal;
    font-size: 31px;
    letter-spacing: 1.3px;
    color: hsl(274, 66%, 26%);
    text-transform: uppercase;
  }

  &__catalog {
    @include row;

    .card {
      @include col;
      @include col(xl, 3);
      @include col(lg, 4);
      @include col(md, 6);
      @include col(sm, 12);
      margin-bottom: 30px;
    }
  }
}
