// В этом файле должны быть стили для БЭМ-блока field-num, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.field-num {

  $block-name:                &; // #{$block-name}__element

  display: block;
  margin-bottom: 10px;

  &__name {
    @include field-name;
  }

  &__input-wrap {
    display: block;
  }

  &__input-and-btns {
    position: relative;
    display: block;
    width: 60px;
  }

  &__input {
    @include field-text;
    padding: $field-padding-vertical 45px;
    font-family: 'Futura PT';
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    border: none;
    padding: 0;

    #{$block-name}:not(#{$block-name}--disabled) button:focus ~ & { // stylelint-disable-line
      // @include field-focus;
    }
  }

  &__btn {
    position: absolute;
    top: 1px;
    bottom: 1px;
    width: 15px;
    height: 15px;
    border: none;
    padding: 0;
    border-radius: 50%;
    background-color: hsl(0, 0%, 93%) !important;
    font: 0/0 a; // stylelint-disable-line
    color: transparent;

    &:hover,
    &:focus {
      background-color: $gray-lightest;
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    &--plus {
      left: 1px;
      background: svg-load('../blocks/field-num/img_to_bg/plus.svg') center no-repeat;
      background-size: 7px 7px;
    }

    &--minus {
      right: 1px;
      background: svg-load('../blocks/field-num/img_to_bg/minus.svg') center no-repeat;
      background-size: 7px 7px;
    }

    #{$block-name}--disabled & {
      cursor: not-allowed;

      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
  }

  &__help-text {
    @include field-help-text;
  }



  &--error {

    #{$block-name}__name,
    #{$block-name}__input,
    #{$block-name}__help-text {
      color: $color-danger;
    }

    #{$block-name}__input {
      border-color: $color-danger;
      background-color: lighten($color-danger, 35%);
    }
  }
}
