// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  background-image: linear-gradient(to right, #5937b9 27%, #5f29fd 47%, #9b57cb 69%);
  background-position: top center;
  padding: 110px 0;

  @media (max-width: ($menu-desktop-width - 1)) {
    padding: 40px 0;
  }

  &__inner {
    max-width: 800px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;

    @media (max-width: ($menu-desktop-width - 1)) {
      flex-direction: column;

      .page-phone--footer {
        margin-bottom: 15px;
      }
    }
  }
}
