// В этом файле должны быть стили для БЭМ-блока page-basket, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-basket {

  $block-name:                &; // #{$block-name}__element

  width: 265px;
  height: 177px;
  background-image: url('../img/basket-bg.png');
  background-repeat: no-repeat;
}
