// В этом файле должны быть стили для БЭМ-блока page-basket, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-basket {

  $block-name:                &; // #{$block-name}__element

  @media (min-width: $menu-desktop-width) {
    width: 220px;
    height: 150px;
    background-image: svg-load('../blocks/page-basket/img_to_bg/basket-bg-pattern.svg');
    background-repeat: no-repeat;
    background-position: center top -20px;
    transition: all $transition-time;
    background-size: 246px 152px;
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
  }

  @media (min-width: $screen-lg) {
    padding-right: 280px;
    width: 265px;
    height: 170px;
    background-size: auto;
  }

  &:hover {
    background-position: center top -5px;
  }

  &__inner {
    text-decoration: none;

    @media (min-width: $menu-desktop-width) {
      padding: 10px;
      align-items: center;
      display: flex;
      position: absolute;
      top: 15px;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (min-width: $screen-lg) {
      top: 25px;
    }
  }

  &__count {
    display: block;
    width: 31px;
    height: 31px;
    background-image: svg-load('../blocks/page-basket/img_to_bg/basket-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Exo 2', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;

    span {
      line-height: 28px;
      margin-top: 3px;
      display: inline-block;
    }
  }

  &__cost {
    font-size: 21px;
    letter-spacing: -0.42px;
    font-family: 'Futura PT';
    font-weight: 700;
    color: #000;
    margin-left: 5px;
    white-space: nowrap;

    &:before {
      content: "=";
      margin-right: 4px;
    }

    @media (max-width: ($menu-desktop-width - 1)) {
      display: none;
    }
  }
}
