// В этом файле должны быть стили для БЭМ-блока page-phone, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-phone {

  $block-name:                &; // #{$block-name}__element

  color: #fff;
  text-decoration: none;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  letter-spacing: 1.17px;
  font-size: 16px;
  white-space: nowrap;

  span {
    font-weight: 500;
  }

  @media (min-width: $screen-lg) {
    font-size: 19px;
  }
  @media (min-width: $screen-xl) {
    font-size: 24px;
  }

  &--header {

    display: inline-block;
    margin-bottom: 4px;

    @media (max-width: ($menu-desktop-width - 1)) {
      color: #000;
    }
  }

  &--blue {
    color: #4a1770;
  }
}
