// В этом файле должны быть стили для БЭМ-блока fields-group, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.fields-group {

  $block-name:                &; // #{$block-name}__element

  display: flex;

  &__item {
    flex-grow: 1;

    & + & {
      margin-left: 20px;
    }

    .field-radio {
      flex-grow: 1;

      .field-radio__name {
        margin-right: 0;
      }
    }
  }
}
